In [11]:
import pandas as pd
import numpy as np

# Clean main data

In [2]:
df = pd.read_csv("cp.csv")

In [3]:
df.head()

,Unnamed: 0,d_codigo,d_asenta,d_tipo_asenta,D_mnpio,d_estado,d_ciudad,d_CP,c_estado,c_oficina,c_CP,c_tipo_asenta,c_mnpio,id_asenta_cpcons,d_zona,c_cve_ciudad
0,0,1000,San Ángel,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,1001,9,1001,NaN,9,10,1,Urbano,1.0
1,1,1010,Los Alpes,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,1001,9,1001,NaN,9,10,5,Urbano,1.0
2,2,1020,Guadalupe Inn,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,1001,9,1001,NaN,9,10,6,Urbano,1.0
3,3,1030,Florida,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,1001,9,1001,NaN,9,10,10,Urbano,1.0
4,4,1030,Axotla,Pueblo,Álvaro Obregón,Ciudad de México,Ciudad de México,1001,9,1001,NaN,28,10,9,Urbano,1.0

In [7]:
# Drop Unnamed column (it's a copy of the index)
df.drop("Unnamed: 0", axis=1,inplace=True)

In [8]:
# Delete columns that I don't understand (this is kinda sad hehe)
df.drop(["d_CP", "c_oficina", "c_CP", "id_asenta_cpcons", "c_cve_ciudad"],
       axis =1, inplace=True)

In [9]:
df.head()

,d_codigo,d_asenta,d_tipo_asenta,D_mnpio,d_estado,d_ciudad,c_estado,c_tipo_asenta,c_mnpio,d_zona
0,1000,San Ángel,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,9,9,10,Urbano
1,1010,Los Alpes,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,9,9,10,Urbano
2,1020,Guadalupe Inn,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,9,9,10,Urbano
3,1030,Florida,Colonia,Álvaro Obregón,Ciudad de México,Ciudad de México,9,9,10,Urbano
4,1030,Axotla,Pueblo,Álvaro Obregón,Ciudad de México,Ciudad de México,9,28,10,Urbano

In [13]:
# Remove accents and weird characters
cols = df.select_dtypes(include=[np.object]).columns
df[cols] = df[cols].apply(lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8'))
df.head()

,d_codigo,d_asenta,d_tipo_asenta,D_mnpio,d_estado,d_ciudad,c_estado,c_tipo_asenta,c_mnpio,d_zona
0,1000,San Angel,Colonia,Alvaro Obregon,Ciudad de Mexico,Ciudad de Mexico,9,9,10,Urbano
1,1010,Los Alpes,Colonia,Alvaro Obregon,Ciudad de Mexico,Ciudad de Mexico,9,9,10,Urbano
2,1020,Guadalupe Inn,Colonia,Alvaro Obregon,Ciudad de Mexico,Ciudad de Mexico,9,9,10,Urbano
3,1030,Florida,Colonia,Alvaro Obregon,Ciudad de Mexico,Ciudad de Mexico,9,9,10,Urbano
4,1030,Axotla,Pueblo,Alvaro Obregon,Ciudad de Mexico,Ciudad de Mexico,9,28,10,Urbano

In [14]:
df.to_csv("cp_cleaned.csv", index=False)

# Clean lat lon data

In [16]:
df_lat_lon = pd.read_csv("mx_postal_codes.csv")

/Users/faviovazquez/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
df_lat_lon.drop(["Unnamed: 6", "Unnamed: 7", "Unnamed: 8", "Unnamed: 9",
               "Unnamed: 10"], axis=1, inplace=True)

In [22]:
df_lat_lon.head()

,Postal Code,Place Name,State,State Abbreviation,Latitude,Longtiude
0,20000,Zona Centro,Aguascalientes,AGU,21.8734,-102.2806
1,20010,San Cayetano,Aguascalientes,AGU,21.9644,-102.3192
2,20010,Las Brisas,Aguascalientes,AGU,21.9644,-102.3192
3,20010,Ramon Romo Franco,Aguascalientes,AGU,21.9644,-102.3192
4,20010,Colinas del Rio,Aguascalientes,AGU,21.9644,-102.3192

In [28]:
df_lat_lon.dtypes

Postal Code            int64
Place Name            object
State                 object
State Abbreviation    object
Latitude              object
Longtiude             object
dtype: object

In [35]:
df_lat_lon["Latitude"] = pd.to_numeric(df_lat_lon['Latitude'], errors='coerce')
df_lat_lon["Longtiude"] = pd.to_numeric(df_lat_lon['Longtiude'], errors='coerce')

In [36]:
df_lat_lon.dtypes

Postal Code             int64
Place Name             object
State                  object
State Abbreviation     object
Latitude              float64
Longtiude             float64
dtype: object

In [38]:
df_lat_lon.to_csv("mx_lat_lon.csv", index=False)